.card-wrapper{
    height: 200px;
}

.card-content{
    height: calc( 100% - 35px);
    border-radius: 10px 10px 0 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-content img{
    height: 25%;
}
.new .card-content{
    border: 2px solid #EF925E;
    border-bottom: none;
}

.card-footer{
    height: 35px;
    border-radius: 0 0 10px 10px;
    background: #EF925E;
    text-align: center;
    line-height: 35px;
}

.card-footer span{
    color: white;
    font-size: 1.1rem;

}